<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xmlns:context="http://www.springframework.org/schema/context"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd-->
<!--    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">-->

<!--    &lt;!&ndash;   określamy klasy będące beanami&ndash;&gt;-->
<!--    &lt;!&ndash;    robimy beana z klasy DocumentService, a w jej konstruktor wstrzykujemy&ndash;&gt;-->
<!--    &lt;!&ndash;    kolejnego beana z klasy np XmlGenerator&ndash;&gt;-->
<!--    <bean id="documentService" class="plSlaw.bean.service.DocumentService">-->
<!--        &lt;!&ndash;        parametr w kostruktorze o indexie 0&ndash;&gt;-->
<!--        <constructor-arg index="0">-->
<!--            &lt;!&ndash;            tam wstrzykujemy beana zrobionego z klasy XmlGenerator&ndash;&gt;-->
<!--            <bean id="xmlGenerator" class="plSlaw.bean.generator.XmlGenerator"/>-->
<!--        </constructor-arg>-->
<!--    </bean>-->

<!--</beans>-->